@*----------Header Code for this Page--------------------------------Start-------------------Header------------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "DailyCashClosingReport";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@*----------Header Code for this Page--------------------------------Ended-------------------Header------------------*@

@*----------Body Code for this Page----------------------------------Start---------------------Body----------------*@
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">

            <form class="col-sm-12">
                <div class="BackToList">
                    <a type="button" asp-action="AllDailyAccountsReports" asp-area="Account" asp-controller="DailyAccountReport" class="btn btn-primary hover btn-block form-control btn-sm"><i class="fas fa-backward"></i> @Localizer["Back to List"]</a>
                </div>
                <div class="PrintP">
                    <button class="btn btn-theme btn-print" onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
                </div>
                @*main table*@
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-responsive-md SubH">
                        <thead>
                            <tr>
                                <th colspan="10"><img src="~/Image/1.png" alt="Image" width="100" height="100" /></th>
                            </tr>
                            <tr>
                                <th class="titleAccountofficeReport" colspan="10">@Localizer["Daily Cash Closing Report-Account Office"]</th>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="10"> 04/05/2021  :<span class=""> @Localizer["Date"] </span></th>
                            </tr>
                            <tr>
                                <th colspan="2" scope="col">@Localizer["Cash In Hand"]</th>
                                <th scope="col">@Localizer["Un-Cleared"]</th>
                                <th scope="col"> @Localizer["Closing Cash"] </th>
                                <th scope="col" َ>@Localizer["Cleared Expense"]</th>
                                <th scope="col">@Localizer["Total Income"]</th>
                                <th scope="col">@Localizer["Income"]</th>
                                <th scope="col">@Localizer["Opening Cash"]</th>
                                <th colspan="2" c scope="col">@Localizer["Account Type"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" scope="row">
                                </td>
                                <td scope="row">
                                </td>
                                <td scope="row">
                                </td>
                                <td scope="row"></td>
                                <td scope="row">
                                </td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td colspan="2" scope="row">@Localizer["Internal account"]</td>
                            </tr>
                            <tr>
                                <td colspan="2" scope="row">
                                </td>
                                <td scope="row"></td>
                                <td scope="row">
                                </td>
                                <td scope="row"></td>
                                <td scope="row">
                                </td>
                                <td scope="row"></td>
                                <td scope="row"></td>
                                <td colspan="2" scope="row">@Localizer["Petty account"]</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr id="total">
                                <th colspan="2" scope="row" id="t1"></th>
                                <th scope="row" id="t2"></th>
                                <th scope="row" id="t3"></th>
                                <th scope="row" id="t4"></th>
                                <th scope="row" id="t5"></th>
                                <th scope="row" id="t6"></th>
                                <th scope="row" id="t7"></th>
                                <th colspan="2" scope="row">@Localizer["Total"]</th>
                            </tr>
                            @*2nd table start herer*@
                            <tr>
                                <th scope="col" colspan="10"></th>
                            </tr>
                            <tr>
                                <th colspan="5" scope="row">@Localizer["Meezan Bank Ledger Report"]</th>
                                <th colspan="5" scope="row">@Localizer["Punjab Bank Ledger Report"]</th>
                            </tr>
                            <tr>
                                <th colspan="2" scope="row">@*@b1.Balance*@</th>
                                <th colspan="2" scope="row">@Localizer["Previous bank balance"]</th>
                                <th scope="row">22-03-2021</th>
                                @*------------------------  *@
                                <th scope="row">0</th>
                                <th colspan="2" scope="row">@Localizer["Previous bank balance"]</th>
                                <th colspan="2" scope="row">22-03-2021</th>
                            </tr>
                            <tr>
                                <th colspan="2" scope="row">@*@b1.Debit*@</th>
                                <th colspan="2" scope="row">@Localizer["Money plus different income"] </th>
                                <th scope="row">22-03-2021</th>
                                @*------------------------  *@
                                <th scope="row">0</th>
                                <th colspan="2" scope="row">@Localizer["Money plus different income"] </th>
                                <th colspan="2" scope="row">22-03-2021</th>
                            </tr>
                            <tr>
                                <th colspan="2" scope="row">@*@b1.Cradit*@</th>
                                <th colspan="2" scope="row">@Localizer["Withdraw money"]</th>
                                <th scope="row">22-03-2021</th>
                                @*------------------------  *@
                                <th scope="row">0</th>
                                <th colspan="2" scope="row">@Localizer["Withdraw money"]</th>
                                <th colspan="2" scope="row">22-03-2021</th>
                            </tr>
                            <tr>
                                <th colspan="2" scope="row">0</th>
                                <th colspan="2" scope="row">@Localizer["Tax deductible bank"]</th>
                                <th scope="row">22-03-2021</th>
                                @*------------------------  *@
                                <th scope="row">0</th>
                                <th colspan="2" scope="row">@Localizer["Tax deductible bank"]</th>
                                <th colspan="2" scope="row">22-03-2021</th>
                            </tr>
                            <tr>
                                <th colspan="2" scope="row">@*@p*@</th>
                                <th colspan="2" scope="row">@Localizer["Closing bank balance"]</th>
                                <th scope="row">22-03-2021</th>
                                @*------------------------  *@
                                <th scope="row">0</th>
                                <th colspan="2" scope="row">@Localizer["Closing bank balance"]</th>
                                <th colspan="2" scope="row">22-03-2021</th>
                            </tr>
                            <tr>
                                <th colspan="6">@Localizer["Main Bank Ledger"]</th>
                                <th colspan="4">@Localizer["Supplier Ledger"]</th>
                            </tr>
                            <tr>
                                <th colspan="3" scope="row">0</th>
                                <th colspan="3" scope="row">@Localizer["Bank of Punjab Closing Balance"]</th>
                                <th colspan="2" scope="row">@Localizer["Credit"]</th>
                                <th colspan="2" scope="row">@Localizer["Debit"]</th>
                            </tr>
                            <tr>
                                <th colspan="3" scope="row"></th>
                                <th colspan="3" scope="row">@Localizer["Meezan Bank Closing Balance"]</th>
                                <td colspan="2" scope="row"><input type="text" class="form-control" /></td>
                                <td colspan="2" scope="row"><input type="text" class="form-control" /></td>
                            </tr>
                            <tr>
                                <th colspan="3" scope="row">@*@p<*@</th>
                                <th colspan="3" scope="row">@Localizer["Total bank balance"]</th>
                                <td scope="row"><input type="text" class="form-control" /></td>
                                <th scope="row">@Localizer["Total Bill Paid"]</th>
                                <td scope="row"><input type="text" class="form-control" /></td>
                                <th scope="row">@Localizer["Total Bill"]</th>
                            </tr>
                            <tr>
                                <th colspan="3" scope="row">
                                </th>
                                <th colspan="3" scope="row"> @Localizer["Internal & Petty Account Closing Balance"]</th>
                                <td scope="row" colspan="2" rowspan="2"><input type="text" class="form-control" /></td>
                                <th scope="row" colspan="2" rowspan="2">@Localizer["Total Cash Add"]</th>

                            </tr>
                            <tr>
                                @*<th colspan="2" scope="row"></th>*@
                                <th colspan="3" scope="row">
                                </th>
                                <th colspan="3" scope="row">@Localizer["Total balance"]</th>
                                @*<th colspan="2" scope="row"></th>*@
                            </tr>
                            @*2nd table end herer*@

                            @*sign table start here*@
                            <tr>
                                <th colspan="10" scope="col">@Localizer["Signature"]</th>
                            </tr>
                            <tr>
                                <th scope="row" colspan="3">@Localizer["Account Manager"]</th>
                                <th colspan="4">@Localizer["D.G.M"]</th>
                                <th colspan="3">@Localizer["G.M"]</th>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    @Localizer["Signature"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                </td>
                                <td colspan="4">
                                    @Localizer["Signature"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                </td>
                                <td colspan="3">
                                    @Localizer["Signature"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                    @Localizer["Remarks"]:
                                    <input type="text" id="paidAmount" class="form-control" />
                                </td>

                            </tr>
                            @*sign table end here*@
                            <tr>
                                <td scope="row" colspan="10" class="actionbtn">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Action"]
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-save"></i> @Localizer["Save File"]</a>
                                            <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-restore"></i> @Localizer["Clear Sheet"]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
        </div>

</body>
<!-- back to top button-->
<a id="button"></a>
@*----------Body Code for this Page----------------------------------Ended---------------------Body----------------*@

@*----------JS for this Page-----------------------------------------Start---------------------JS----------------*@
@section Scripts{
    <script>
    </script>
}
@*----------JS for this Page-----------------------------------------Ended----------------------JS---------------*@

@*----------CSS for this Page----------------------------------------Start----------------------CSS---------------*@
<style>
    body {
        font-family: 'Jameel Noori Nastaleeq';
    }
    /*-----these clases is for Background  Account Office----*/
    .search-background {
        background: url('../Image/dust_scratches.png');
    }

    .backgroundWhite {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .backgroundWhiteBorder {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 30px;
        border: 1px solid #ddd;
    }

    .backgroundWhiteBorder10Padding {
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
    .actionbtn {
        width: 150px;
        text-align: center;
    }

    .titleAccountofficeReport {
        font-family: 'Jameel Noori Nastaleeq';
        font-size: xx-large;
        font-weight: bold;
    }
    /*  Css for Table of Each in Accounts----*/
    .table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
        table-layout: fixed;
        width: 100%
    }

    .Subhdr {
        color: white;
        text-align: center;
        background-color: slategrey;
    }
    /*  Css for small Size of Content----*/
    .SubH {
        text-align: center;
        font-family: 'Jameel Noori Nastaleeq';
        font-size: medium;
    }
    /*page print css----*/
    .btn-theme {
        background: #08818c;
        color: #fff;
    }

    .btn {
        font-family: arial;
    }

    .btn-print {
        padding: 10px 24px;
        font-size: 16px;
        line-height: 1.33;
        vertical-align: middle;
        float: left;
    }

    .PrintP {
        margin-left: 985px;
        position: absolute;
        margin-top: -45px;
    }
    /*  Css for BackToList Button----*/
    .BackToList {
        width: 150px;
    }

</style>
@*----------CSS for this Page----------------------------------------Ended-----------------------CSS--------------*@