@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@
@{
    ViewData["Title"] = "CeoNoticeBoardList";
    Layout = "~/Views/Shared/_LayoutCeo.cshtml";
}

<style></style>

<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding border backgroundWhite">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center font-weight-bold">@Localizer["AJW NOTIC BOARD LIST - C.E.O Office"]</h2>
            </div>
        </div>
        <br />
        <div>

            <table id="NoticBoard" class="table table-striped border">
                <thead>
                    <tr class=" bg-dark text-white">




                        <th> @Localizer["Action"]</th>
                        <th>

                        </th>

                        <th>
                            @Localizer["Description"]
                        </th>

                        <th>
                            @Localizer["Title"]
                        </th>
                        <th>
                            @Localizer["Date"]
                        </th>
                        <th>
                            @Localizer["ID#"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Action"]
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-edit"></i> @Localizer["Edit"]</a>
                                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Send to G.M Office"]</a>
                                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Send to C.E.O Office"]</a>
                                    <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-upload"></i> @Localizer["Upload to D.M.S"]</a>
                                </div>
                            </div>
                            @*<partial name="_TableButtonPartialDPIO" />*@
                        </td>
                        <td>
                        </td>
                        <td>
                            we will do all reports varify then send ot to the gm office
                        </td>
                        <td>
                            Daily Plan
                        </td>
                        <td>
                            06-06-2021
                        </td>
                        <td>
                            001
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

@section Scripts{
    <script>
    </script>

}