@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@

@{
    ViewData["Title"] = "DmsProductionDepartment";
    Layout = "~/Views/Shared/_LayoutDms.cshtml";
}


<style></style>
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <div class="header col-sm-12">
                <a class="logo font-weight-bold font-weight-bolder">@Localizer["Production Department D.M.S"]</a>
            </div>
            @*-----------1-------------start---------------------------- Table for Production Office DMS List----------------------------------------------------------*@

            <form class="tabled col-sm-12">
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Daily Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="DARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Daily Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Daily Production Office List----------------------------------------------------------*@

                @*------------------------start---------------------------- Table for Monthly Production Office  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Monthly Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Monthly Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Monthly Production Office  List----------------------------------------------------------*@
                @*------------------------start---------------------------- Table for Yearly Production Office  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Yearly Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="YARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Yearly Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly Production Office  List----------------------------------------------------------*@


                @*------------------------start---------------------------- Table for Audit Production Office  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10" s>@Localizer["Audit Reports DMS-Production Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="AARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-file-download"></i> @Localizer["Download"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Audit Production Report Pdf"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Production Office  List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>
<!-- back to top button-->
<a id="button"></a>
<!-- back to top button-->
@section Scripts{
    <script>
    </script>

}