@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@

@model AJWNoticeBoardHrm


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutHrm.cshtml";
}



<style>
    .tabled {
        position: center;
        align-content: center;
        text-align: center;
        /*margin-left: -200px;*/
    }

    .signt {
        position: center;
        align-content: center;
        text-align: center;
        /*  margin-left: -120px;*/
    }
</style>
<form class="" method="post" asp-action="Create" style="font-family:'Jameel Noori Nastaleeq';font-size:x-large">
    <table class="tabled table table-bordered">
        <thead>
            <tr>
                <th class="bg-info text-white" scope="col" colspan="6"><img src="~/Image/white.png" alt="Image" width="100" height="100" /><br />@Localizer["AJW AGRO INDUSTRY"]</th>

            </tr>
            <tr>
                <th class="bg-info text-white" scope="col" colspan="6">@Localizer["AJW Notice Board"]</th>

            </tr>
        </thead>
        <tbody>

            <tr>

                <th class="text-right" colspan="3" scope="col">

                    <input asp-for="Date" class="form-control text-right" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </th>
                <th class="text-center bg-info" colspan="3" scope="col">
                    @Localizer["Date"]
                </th>
            </tr>
            <tr>
                <th class="text-center bg-info text-white" scope="col" colspan="6">@Localizer["Title"]</th>
            </tr>
            <tr>
                <th scope="row" colspan="6">
                    @*<label asp-for="Title" class="col-form-label"></label>*@
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </th>
            </tr>
            <tr>
                <th class="text-center bg-info text-white" scope="col" colspan="6">@Localizer["Description"]</th>
            </tr>
            <tr>
                <th scope="row" colspan="6">
                    @*<label asp-for="Description" class="col-form-label"></label>*@
                    <textarea asp-for="Description" rows="10" class="form-control "></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>


                    @*<input type="file" name="ifile" asp-for="SDImgname" multiple class="form-control" />
                        <input type="submit" value="Uplod.." />*@
                    @*@ViewBag.Message*@
                    @*<input type="file" id="myFile" name="filename" asp-for="SDImgname" class="form-control"><br />*@
                    @*<img src="~/Image/yok.jpg" class="img-rounded" alt="Cinque Terre" width="804" height="136">*@
                    @*<img src="~/Image/@SDImgname" height="80" width="120" />*@

                </th>
            </tr>


            @*<tr class="bg-info text-white">
                    <td colspan="4">
                        <h2 class="text-white">
                            @Localizer["Signature"]
                        </h2>
                    </td>
                </tr>
                <tr class="bg-info text-white">
                    <th class="text-center">
                        @Localizer["Account Manager"]
                    </th>

                    <th class="text-center" colspan="2">
                        @Localizer["C.E.O"]
                    </th>
                    <th class="text-center">
                        @Localizer["G.M"]
                    </th>


                </tr>*@
            @*<tr class="bg-info text-white">
                    <td>
                        <input type="file" id="myFile" name="filename"><br />
                        <img src="~/Image/yok.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                    </td>

                    <td colspan="2">
                        <input type="file" id="myFile" name="filename"><br />
                        <img src="~/Image/yok.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                    </td>
                    <td>
                        <input type="file" id="myFile" name="filename"><br />
                        <img src="~/Image/yok.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="136">
                    </td>

                </tr>*@
            <tr class="bg-dark text-white text-center">
                <td colspan="6">
                    <partial name="_CreateAndBackToListButton" />
                </td>
            </tr>
        </tbody>
    </table>
</form>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@section Scripts{
    <script>
    </script>

}