@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@

@model IEnumerable<AJWNoticeBoardHrm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHrm.cshtml";
}

<style></style>
<br />
<body>

    <div class="border backgroundWhite backgroundWhiteBorder10Padding">
        <div class="row  text-light">
            <div class="col-12 text-right">
                <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp;@Localizer["Create New Notice"] </a>
                <button class="btn btn-theme btn-print text-right " onclick="myFunction()"> Print <i class="fa fa-print" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/Image/1.png" alt="Image" width="100" height="100" />
                <h2 class="Title font-weight-bold"> @Localizer["AJW NOTICE BOARD LIST"]</h2>
            </div>
        </div>

        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table id="NoticBoard" class="table table-striped border SubH">
                    <thead>
                        <tr>
                            <th>
                                @Localizer["ID#"]
                            </th>
                            <th>
                                @Localizer["Date"]
                            </th>
                            <th>
                                @Localizer["Title"]
                            </th>
                            <th colspan="2">
                                @Localizer["Description"]
                            </th>
                            <th> </th>       
                            <th>@Localizer["Action"]</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Title)
                                </td>
                                <td colspan="2">
                                    <textarea class="form-control"> @Html.DisplayFor(m => item.Description)</textarea>
                                </td>
                            
                                <td>
                                    <partial name="_TableButtonPartial" model="item.Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>@Localizer["No Notice Exists..."]</p>
            }
        </div>

    </div>
</body>
<br />
<br />
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#NoticBoard').DataTable();
        });

    </script>
}

