@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@

@{
    ViewData["Title"] = "CeoGmDepartmentReportsList";
    Layout = "~/Views/Shared/_LayoutCeo.cshtml";
}

<style></style>
<br />
<body>
    <div class="container-fluid backgroundWhiteBorder10Padding">
        <div class="row">
            <div class="header col-sm-12">
                <a class="logo font-weight-bold font-weight-bolder">@Localizer["G.M All Reports C.E.O Repository List"]</a>
            </div>

            @*-----------1-------------start---------------------------- Table for Daily Accounts Reports Repository List----------------------------------------------------------*@

            <form class="tabled col-sm-12">
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Daily G.M Reports Repository-G.M Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="DARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-check-circle"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M Office"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M Office"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Daily G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                @*------------------------ended---------------------------- Table for Daily Accounts Reports Repository List----------------------------------------------------------*@

                @*------------------------start---------------------------- Table for Monthly Accounts Reports Repository  List----------------------------------------------------------*@

                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Monthly G.M Reports Repository - G.M Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="MARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-check-circle"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M Office"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M Office"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Monthly G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                @*------------------------ended---------------------------- Table for Monthly Accounts Reports Repository  List----------------------------------------------------------*@


                @*------------------------start---------------------------- Table for Yearly Accounts Reports Repository  List----------------------------------------------------------*@
                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Yearly G.M Reports Repository - G.M Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="YARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-check-circle"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M Office"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M Office"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Yearly G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Yearly Accounts Reports Repository  List----------------------------------------------------------*@



                @*------------------------start---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@

                <hr />
                <div class="col-sm-12 text-center">
                    <a class="Title" colspan="10">@Localizer["Audit G.M Reports Repository - G.M Office"]</a>
                </div>
                <br />
                <table class="table table-bordered" id="AARReport">
                    <thead>
                        <tr class="Subhdr SubH">
                            <th>@Localizer["Action"] </th>
                            <th>@Localizer["Date"]</th>
                            <th>@Localizer["Title"]</th>
                            <th>@Localizer["ID#"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="SubH">
                            <td class="actionbtn">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer["Action"]
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-list-alt"></i> @Localizer["View"]</a>
                                        <a class="dropdown-item " asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-check-circle"></i> @Localizer["Check Report"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-trash-alt"></i> @Localizer["Delete"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To D.G.M Office"]</a>
                                        <a class="dropdown-item" asp-action="" asp-controller="" asp-area="Account"><i class="fas fa-send"></i> @Localizer["Send To G.M Office"]</a>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                            <td>@Localizer["Audit G.M Reports Repository"] </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                @*------------------------ended---------------------------- Table for Audit Accounts Reports Repository  List----------------------------------------------------------*@
            </form>
        </div>
    </div>
</body>

<!-- back to top button-->
<a id="button"></a>
<!-- back to top button-->
@section Scripts{
    <script>
    </script>

}