@*this code is for language transalator inject localizer--------------*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@*this code is for language transalator inject localizer--------------*@

@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style></style>

<br />
<body>

    <div class="border backgroundWhite backgroundWhiteBorder10Padding">
        <h2 class="text-dark text-center"><img src="~/Image/finallogo.png" alt="Image" width="100" height="100" /><br />@Localizer["Registered User List"]</h2>
        <div class="row" style="font-weight:bold">
            <div class="col-12 text-right">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; @Localizer["New Employee Register"]</a>
            </div>
        </div>
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border SubH" id="RUTable">
                    <tr class="Subhdr text-center text-dark">

                        <th colspan="2">@Localizer["Name"] </th>
                        <th colspan="3">@Localizer["Email"]</th>
                        <th colspan="2">@Localizer["Mobile No"]</th>
                        <th>@Localizer["Department"]</th>
                        <th colspan="2">@Localizer["Designation"]</th>
                        <th colspan="2">@Localizer["Lock/Unlock"]</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center ">

                            <td colspan="2">
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td colspan="3">
                                @Html.DisplayFor(m => item.Email)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(m => item.MobileNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Department)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(m => item.Designation)
                            </td>
                            <td colspan="2">

                                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                {
                                    <a class="btn btn-success text-white" asp-action="Lock" asp-route-id="@item.Id">
                                        <i class="fas fa-lock-open"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-danger text-white" asp-action="UnLock" asp-route-id="@item.Id">
                                        <i class="fas fa-lock"></i>

                                    </a>
                                }
                            </td>

                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No category exists...</p>
            }
        </div>
    </div>

</body>

@section Scripts{
    <script>
    </script>

}
